<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.wodify.BadgeManager"
    version="1.0.0">

    <name>BadgeManager</name>

    <js-module src="www/BadgeManager.js" name="BadgeManager">
        <clobbers target="BadgeManager" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/BadgeManagerPlugin.java" target-dir="app/src/main/java/com/wodify/BadgeManager" />
    </platform>

    <platform name="ios">
        <source-file src="src/ios/BadgeManagerPlugin.swift" />
    </platform>
</plugin>
